<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <!-- Add a button to activate scraping script -->
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
      </div>
      <!-- Add section for Mars News -->
      <div class="row" id="mars-news">
        <div class="col-sm-8 col-md-12 col-lg-16">
          <div class="media">
            <div class="media-body">
              <u>Latest Mars News</u>
              <h4 class="media-heading">{{ mars.news_title }}</h4>
              <blockquote> 
                <p>{{ mars.news_paragraph }}</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <!-- Section for Featured Image and Facts table -->
      <div class="row" id="mars-featured-image">
        <div class="col-sm-2 col-md-4 col-lg-6">
          <u>Featured Mars Image</u>
          <img
            src="{{mars.featured_image }}"
            class="img-responsive"
            alt="Responsive image"
          />
        </div>
        <div class="col-sm-2 col-md-4 col-lg-6">
          <!-- Mars Facts -->
          <div class="row table-striped" id="mars-facts">
            <u>Mars Facts</u>
            {{ mars.facts | safe }}
          </div>
        </div>
      </div>
      <!-- Section for Mars Hemispheres -->
      <div class="row" id="mars-hemisphere">
        <div class="page-header">
          <u class="text-center">Mars Hemispheres</u>
        </div>
        {% for hemisphere in mars.hemisphere %}
        <div class="col-sm-2 col-md-4 col-lg-6">
          <div class="thumbnail">
            <img src="{{hemisphere.full_url | default('static/images/error.png', true)}}" alt="...">
            <div class="caption">
              <h3>{{hemisphere.title}}</h3>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>